In [1]:
from pyspark import SparkConf, SparkContext
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('seaborn')
%matplotlib inline

In [3]:
df = pd.read_csv('customer-orders.csv', names=['customer_id', 'item_id', 'amount'])
df.head()

   customer_id  item_id  amount
0           44     8602   37.19
1           35     5368   65.89
2            2     3391   40.64
3           47     6694   14.98
4           29      680   13.08

In [8]:
df.groupby('customer_id').sum()['amount'].head()

customer_id
0    5524.95
1    4958.60
2    5994.59
3    4659.63
4    4815.05
Name: amount, dtype: float64

In [9]:
conf = SparkConf().setMaster('local').setAppName('customer')
sc = SparkContext(conf=conf)

In [19]:
def parse_line(line):
    words = line.split(',')
    return (int(words[0]), float(words[2]))

In [20]:
customer = sc.textFile('customer-orders.csv')
parsed_data = customer.map(parse_line)
amouts_per_cust = parsed_data.reduceByKey(lambda x,y: x + y)
sorted_amouts_by_cid = amouts_per_cust.sortBy(lambda x: x[1], ascending=False)
results = sorted_amouts_by_cid.collect()

In [24]:
for result in results:
    print('customer ID: '+ str(result[0]), "  Amount: ", "${:.2f}".format(result[1]))

customer ID: 68   Amount:  $6375.45
customer ID: 73   Amount:  $6206.20
customer ID: 39   Amount:  $6193.11
customer ID: 54   Amount:  $6065.39
customer ID: 71   Amount:  $5995.66
customer ID: 2   Amount:  $5994.59
customer ID: 97   Amount:  $5977.19
customer ID: 46   Amount:  $5963.11
customer ID: 42   Amount:  $5696.84
customer ID: 59   Amount:  $5642.89
customer ID: 41   Amount:  $5637.62
customer ID: 0   Amount:  $5524.95
customer ID: 8   Amount:  $5517.24
customer ID: 85   Amount:  $5503.43
customer ID: 61   Amount:  $5497.48
customer ID: 32   Amount:  $5496.05
customer ID: 58   Amount:  $5437.73
customer ID: 63   Amount:  $5415.15
customer ID: 15   Amount:  $5413.51
customer ID: 6   Amount:  $5397.88
customer ID: 92   Amount:  $5379.28
customer ID: 43   Amount:  $5368.83
customer ID: 70   Amount:  $5368.25
customer ID: 72   Amount:  $5337.44
customer ID: 34   Amount:  $5330.80
customer ID: 9   Amount:  $5322.65
customer ID: 55   Amount:  $5298.09
customer ID: 90   Amount:  $5290.41
customer ID: 64   Amount:  $5288.69
customer ID: 93   Amount:  $5265.75
customer ID: 24   Amount:  $5259.92
customer ID: 33   Amount:  $5254.66
customer ID: 62   Amount:  $5253.32
customer ID: 26   Amount:  $5250.40
customer ID: 52   Amount:  $5245.06
customer ID: 87   Amount:  $5206.40
customer ID: 40   Amount:  $5186.43
customer ID: 35   Amount:  $5155.42
customer ID: 11   Amount:  $5152.29
customer ID: 65   Amount:  $5140.35
customer ID: 69   Amount:  $5123.01
customer ID: 81   Amount:  $5112.71
customer ID: 19   Amount:  $5059.43
customer ID: 25   Amount:  $5057.61
customer ID: 60   Amount:  $5040.71
customer ID: 17   Amount:  $5032.68
customer ID: 29   Amount:  $5032.53
customer ID: 22   Amount:  $5019.45
customer ID: 28   Amount:  $5000.71
customer ID: 30   Amount:  $4990.72
customer ID: 16   Amount:  $4979.06
customer ID: 51   Amount:  $4975.22
customer ID: 1   Amount:  $4958.60
customer ID: 53   Amount:  $4945.30
customer ID: 18   Amount:  $4921.27
customer ID: 27   Amount:  $4915.89
customer ID: 86   Amount:  $4908.81
customer ID: 76   Amount:  $4904.21
customer ID: 38   Amount:  $4898.46
customer ID: 95   Amount:  $4876.84
customer ID: 89   Amount:  $4851.48
customer ID: 20   Amount:  $4836.86
customer ID: 88   Amount:  $4830.55
customer ID: 10   Amount:  $4819.70
customer ID: 4   Amount:  $4815.05
customer ID: 82   Amount:  $4812.49
customer ID: 31   Amount:  $4765.05
customer ID: 44   Amount:  $4756.89
customer ID: 7   Amount:  $4755.07
customer ID: 37   Amount:  $4735.20
customer ID: 14   Amount:  $4735.03
customer ID: 80   Amount:  $4727.86
customer ID: 21   Amount:  $4707.41
customer ID: 56   Amount:  $4701.02
customer ID: 66   Amount:  $4681.92
customer ID: 12   Amount:  $4664.59
customer ID: 3   Amount:  $4659.63
customer ID: 84   Amount:  $4652.94
customer ID: 74   Amount:  $4647.13
customer ID: 91   Amount:  $4642.26
customer ID: 83   Amount:  $4635.80
customer ID: 57   Amount:  $4628.40
customer ID: 5   Amount:  $4561.07
customer ID: 78   Amount:  $4524.51
customer ID: 50   Amount:  $4517.27
customer ID: 67   Amount:  $4505.79
customer ID: 94   Amount:  $4475.57
customer ID: 49   Amount:  $4394.60
customer ID: 48   Amount:  $4384.33
customer ID: 13   Amount:  $4367.62
customer ID: 77   Amount:  $4327.73
customer ID: 47   Amount:  $4316.30
customer ID: 98   Amount:  $4297.26
customer ID: 36   Amount:  $4278.05
customer ID: 75   Amount:  $4178.50
customer ID: 99   Amount:  $4172.29
customer ID: 23   Amount:  $4042.65
customer ID: 96   Amount:  $3924.23
customer ID: 79   Amount:  $3790.57
customer ID: 45   Amount:  $3309.38